NODE_ENV=production
PORT=3000
APP_HOST=127.0.0.1

# True subdomain deployment:
QUANTUMCOMM_BASE_PATH=
NEXT_PUBLIC_SITE_URL=https://quantum-workbench.sarathchandra.com

# Path deployment:
# QUANTUMCOMM_BASE_PATH=/quantumworkbench
# NEXT_PUBLIC_SITE_URL=https://www.sarathchandra.com/quantumworkbench
