# dependencies
node_modules/

# Next.js
.next/
.next-build/
out/

# production
build/

# local env files
.env*.local

# logs
*.log
build-output.txt
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# TypeScript
*.tsbuildinfo

# OS/editor
.DS_Store
Thumbs.db
